In [1]:
import pypsa
import pandas as pd
import numpy as np

In [58]:
generatorP = pd.read_csv('Solution/generators-p.csv', sep=",",decimal=".")

In [59]:
loadsP = pd.read_csv('Solution/loads-p.csv',sep=",",decimal=".")

In [85]:
#Wird jeglicher Load zu jedem Zeitpunkt exakt bedient?
np.sum(generatorP.sum(axis=1)-loadsP.sum(axis=1) > abs(0.0000001))
#0 True --> ja

0

In [61]:
#Wird an jedem Knoten genau das produziert, was benötigt wird?

In [62]:
generatorEn = generatorP.loc[:,"DE0 3 coal"] + generatorP.loc[:,"DE0 3 solar"] + generatorP.loc[:,"DE0 3 onwind"]

In [63]:
max(generatorEn - loadsP.loc[:,"DE0 3"])

16440.3945554066

In [64]:
min(generatorEn - loadsP.loc[:,"DE0 3"])

-9612.25

In [65]:
#Antwort: wenn Min und Max der 0 entsprechen, dann ja

In [66]:
#Wird nur dann Kohle produziert, wenn nciht genügend Wind und Solar Energie da ist?

In [67]:
#Kohle Energie der Knoten aufsummiert
generatorP.loc[:,"DE0 0 coal"]+generatorP.loc[:,"DE0 1 coal"]+generatorP.loc[:,"DE0 2 coal"]+generatorP.loc[:,"DE0 3 coal"]

0      26333.45
1      25439.65
2      26227.20
3      27368.65
4      27026.70
         ...
739    57733.30
740    53779.10
741    48300.15
742    43486.80
743    41409.70
Length: 744, dtype: float64

In [68]:
#Differenz aus Load und bereitgestellter Wind und Solar Energie gesamt:
max(loadsP.sum(axis=1) - (generatorP.sum(axis=1) - (generatorP.loc[:,"DE0 0 coal"]+generatorP.loc[:,"DE0 1 coal"]+generatorP.loc[:,"DE0 2 coal"]+generatorP.loc[:,"DE0 3 coal"])) - (generatorP.loc[:,"DE0 0 coal"]+generatorP.loc[:,"DE0 1 coal"]+generatorP.loc[:,"DE0 2 coal"]+generatorP.loc[:,"DE0 3 coal"]))

1.0186340659856796e-10

In [6]:
Inputs = pd.read_csv('Export_Import/loads-p_set.csv', sep=",",decimal=".")

In [7]:
Inputs.sum(axis=1)

0      46956.75
1      45764.25
2      45528.00
3      45716.25
4      45285.50
         ...
739    64675.50
740    60691.00
741    55756.75
742    51269.00
743    48985.00
Length: 744, dtype: float64

In [8]:
generators = pd.read_csv('Solution/generators.csv', sep=",",decimal=".")

In [13]:
#Wird Teilweise mehr Kohle produziert an einem bestimmten Knoten als tatsächlich gebraucht wird?
min(loadsP.loc[:,"DE0 3"] - generatorP.loc[:,"DE0 3 coal"])

0.0

## Teste den Fall, Kohle Produktionskosten sehr hoch und EnergietransferKosten sehr gering. 
### Erwartung: Regenerative Energien werden am Limit produziert und ggbfs. transferwiert
### Kohle Energie würde nur produziert werden, falls nötig

In [2]:
loadsP = pd.read_csv('Solution/loads-p.csv',sep=",",decimal=".")
generatorP = pd.read_csv('Solution/generators-p.csv', sep=",",decimal=".")
SolarData = pd.read_csv('SolarTest.csv', sep=",",decimal=".")
WindData = pd.read_csv('WindTest.csv', sep=",",decimal=".")
LinesP0 = pd.read_csv('Solution/lines-p0.csv', sep=",",decimal=".")
LinesP1 = pd.read_csv('Solution/lines-p1.csv', sep=",",decimal=".")

In [3]:
#Es gibt einen Zeitpunkt, zu dem nicht die komplette Wind Energie "produziert" wird
max(WindData.loc[:,"DE0 0"] - generatorP.loc[:,"DE0 0 onwind"])

25760.0

In [4]:
#Zeitpunkt dieses Maximums
a = list(WindData.loc[:,"DE0 0"] - generatorP.loc[:,"DE0 0 onwind"])
a.index(max(a))

537

In [5]:
#Es wird keine Kohle produziert
generatorP.loc[537,:]

name            2013-03-23 09:00:00
DE0 0 coal                        0
DE0 0 onwind                      0
DE0 0 solar                    9870
DE0 1 coal                        0
DE0 1 onwind                14102.5
DE0 1 solar                  7989.2
DE0 2 coal                        0
DE0 2 onwind                 9769.3
DE0 2 solar                 18147.4
DE0 3 coal                        0
DE0 3 onwind                  556.4
DE0 3 solar                  4786.7
Name: 537, dtype: object

In [6]:
loadsP.loc[537,:]

name     2013-03-23 09:00:00
DE0 0                 9839.5
DE0 1                24779.8
DE0 2                21116.8
DE0 3                 9485.5
Name: 537, dtype: object

In [7]:
LinesP0.loc[537,:]

name    2013-03-23 09:00:00
1                   1358.77
2                  -1427.61
3                   99.3431
4                  -1329.28
5                   5372.34
Name: 537, dtype: object

In [8]:
LinesP1.loc[537,:]

name    2013-03-23 09:00:00
1                  -1358.77
2                   1427.61
3                  -99.3431
4                   1329.28
5                  -5372.34
Name: 537, dtype: object

In [10]:
LinesP0

,name,1,2,3,4,5
0,2013-03-01 00:00:00,1705.568880,-309.301314,-998.267567,-8085.383871,-4954.151314
1,2013-03-01 01:00:00,1625.096526,-464.168101,-1017.928425,-8085.383871,-4553.968101
2,2013-03-01 02:00:00,799.371804,-816.703825,-1219.667980,-8085.383871,-4584.803825
3,2013-03-01 03:00:00,-4098.264616,1114.240246,247.024370,7133.035384,-2245.909754
4,2013-03-01 04:00:00,-4329.662109,919.462508,159.199602,6954.237891,-2121.137492
...,...,...,...,...,...,...
739,2013-03-31 19:00:00,-4222.328503,2423.218017,-463.921727,3243.766161,-10890.570396
740,2013-03-31 20:00:00,-4949.600521,2423.218017,-463.921727,4259.094143,-10890.570396
741,2013-03-31 21:00:00,-4182.167504,-1389.689124,-278.643372,4246.411658,2977.781714
742,2013-03-31 22:00:00,-1373.823149,-2423.218017,-832.208835,-2837.425420,3114.602821
743,2013-03-31 23:00:00,-986.235256,-2423.218017,-716.796728,-2719.042859,3807.002821