In [1]:
import pypsa
import pandas as pd
import numpy as np

In [96]:
n = pypsa.Network("elec_s_4.nc")

INFO:pypsa.io:Imported network elec_s_4.nc has buses, carriers, generators, lines, links, loads

In [97]:
n.import_from_csv_folder("Export_Import")

ERROR:pypsa.io:Error, new components for Bus are not unique
ERROR:pypsa.io:Error, new components for Carrier are not unique
ERROR:pypsa.io:Error, new components for Generator are not unique
ERROR:pypsa.io:Error, new components for Line are not unique
ERROR:pypsa.io:Error, new components for Link are not unique
ERROR:pypsa.io:Error, new components for Load are not unique
INFO:pypsa.io:Imported network Export_Import has buses, carriers, generators, lines, links, loads

In [98]:
n.generators_t.p_max_pu = n.generators_t.p_max_pu[n.generators_t.p_max_pu.columns.drop(list(n.generators_t.p_max_pu.filter(regex='offwind')))]

In [99]:
#Erhalte die Maxima der einzelnen Onwind und Solar Daten
nodes=4 #Anzahl Knoten
max_pu_onwind = np.zeros((1,nodes),dtype=float) #Initialisierung
max_pu_solar = np.zeros((1,nodes),dtype=float) #Initialisierung

for i in range(0,nodes):
    max_pu_onwind[0,i] = max(n.generators_t.p_max_pu.iloc[:,2*i])
    max_pu_solar[0,i] = max(n.generators_t.p_max_pu.iloc[:,2*i+1])

In [100]:
#Dividiere jeden Wert durch das Maximum um im Intervall 0 und 1 zu landen
for i in range(0,nodes):
    n.generators_t.p_max_pu.iloc[:,i*2]=n.generators_t.p_max_pu.iloc[:,i*2] / max_pu_onwind[0,i]
    n.generators_t.p_max_pu.iloc[:,i*2+1]=n.generators_t.p_max_pu.iloc[:,i*2+1] / max_pu_solar[0,i]

In [102]:
#Setze die vorherigen Maxima nun auf p_nom, (nicht mit Schleife lösbar, da Daten in Generators keine feste Form haben)
n.generators.loc["DE0 0 onwind","p_nom"] = max_pu_onwind[0,0]
n.generators.loc["DE0 1 onwind","p_nom"] = max_pu_onwind[0,1]
n.generators.loc["DE0 2 onwind","p_nom"] = max_pu_onwind[0,2]
n.generators.loc["DE0 3 onwind","p_nom"] = max_pu_onwind[0,3]
n.generators.loc["DE0 0 solar","p_nom"] = max_pu_solar[0,0]
n.generators.loc["DE0 1 solar","p_nom"] = max_pu_solar[0,1]
n.generators.loc["DE0 2 solar","p_nom"] = max_pu_solar[0,2]
n.generators.loc["DE0 3 solar","p_nom"] = max_pu_solar[0,3]

In [105]:
n.generators_t.p_max_pu

,DE0 0 onwind,DE0 0 solar,DE0 1 onwind,DE0 1 solar,DE0 2 onwind,DE0 2 solar,DE0 3 onwind,DE0 3 solar
name,,,,,,,,
2013-03-01 00:00:00,0.254572,0.000000e+00,0.287096,0.000000,0.308656,0.000000,0.257029,0.000000
2013-03-01 01:00:00,0.425919,0.000000e+00,0.567066,0.000000,0.046751,0.000000,0.544387,0.000000
2013-03-01 02:00:00,0.194269,0.000000e+00,0.204090,0.000000,0.120501,0.000000,0.187371,0.000000
2013-03-01 03:00:00,0.145479,0.000000e+00,0.136904,0.000000,0.419571,0.000000,0.442812,0.000000
2013-03-01 04:00:00,0.306973,8.679399e-05,0.167487,0.000000,0.136138,0.000000,0.064227,0.000000
...,...,...,...,...,...,...,...,...
2013-03-31 19:00:00,0.180544,2.532314e-02,0.020278,0.076659,0.524127,0.071968,0.615360,0.042749
2013-03-31 20:00:00,0.520566,4.647954e-03,0.211032,0.016399,0.174053,0.011950,0.204886,0.006737
2013-03-31 21:00:00,0.071411,6.088879e-07,0.300789,0.000032,0.105679,0.000079,0.292140,0.000000
2013-03-31 22:00:00,0.156260,0.000000e+00,0.283547,0.000000,0.722488,0.000000,0.331068,0.000000
2013-03-31 23:00:00,0.271100,0.000000e+00,0.097832,0.000000,0.470880,0.000000,0.096682,0.000000